.container {
    background-color: whitesmoke;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;
    width: 500px;
    height: 400px;
}
.formula {
    margin-top: 5%;
    margin-left: 35%;
}
.variable {
    margin-left: 35%;
}
.error{
    background-color: crimson;
    color: white;
}
#result-span{
    display: none;
}